body {
    background-color:Red;
    #font-family: 'Lacquer', sans-serif;
    #font-family: 'Saira Stencil One', cursive;
    #font-family: 'Indie Flower', cursive;
    #font-family: 'Baloo Chettan', cursive;
    font-family: 'Righteous', cursive;
    color:White;
}

h1 {
    font-family: 'Righteous', cursive;
font-size: 40px;
}

li {
    font-family: 'Lacquer', sans-serif;
    font-size: 30px;
}

img {
    border-radius: 25px;
}

a {
    color: Purple;
}

a:hover {
    color: Magenta;
}
.brown{color: brown;}
